  [
 {"thing":"WifiThing","ssid":"xxx","password":"xxx","timeout":"10000"},
 {"thing":"MQTTThing","host":"xxx","port":"1883","username":"xxx","password":"xxx","timeout":"20000"},
 {"thing":"ManageThing"},
 {"thing":"SwitchThing","gpio":{"6":"Switch 1"} },
  {"gpio":{"7":"Point 2","5":"Point 1"},"thing":"PointThing"}
  ] 
