  [
 {"thing":"WifiThing","ssid":"Audumla.com-2.4Ghz","password":"DribbleDrool1","timeout":"10000"},
 {"thing":"MQTTThing","host":"192.168.60.194","port":"1883","username":"audumla","password":"audumla","timeout":"20000"},
 {"thing":"ManageThing"},
 {"thing":"SwitchThing","gpio":{"6":"Switch 1"} },
  {"gpio":{"7":"Point 2","5":"Point 1"},"thing":"PointThing"}
  ] 
